input[type=text] {
  font-size: 5px;
  padding: 1rem 5rem; 
  border:2px solid rgb(170, 170, 170); 
  -webkit-border-radius: 5px;
  border-radius: 10px;
  font-weight: 600;
}

input[type=text]:focus {
  border-color:rgb(195, 193, 193);
  font-size: 10px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: small;
}

input[type=submit] {
  padding: 3px 10px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: large;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
}


body{
background-color: #fafafa;
padding: 110px 10px 10px 10px;
font-family: 'Droid Sans', sans-serif;
}

a{
text-decoration: none;
}

#text_conv_area {
  font-size: 5px;
  border:2px solid rgb(170, 170, 170); 
  -webkit-border-radius: 5px;
  border-radius: 10px;
  font-weight: 600;
  border-color:rgb(195, 193, 193);
  font-size: small;
  font-weight: 600;
  text-align: center;
  width: 38rem;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}


#menu { 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 70px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; }

#retour_dm_menu{
  color: #111;
  text-decoration: underline;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px; 
}

#vous{
  translate: 23rem 0rem;
}
#lui{
  translate: 1rem 0rem;
}

#titre{
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  translate: -700px 0px;
}

#mes_convs{
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  text-decoration: underline;
}

#link{
  border: 1px solid #111;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  width: 250px;
	padding: 10px;
	text-align: center;
	border: 3px dashed #ccc;

}

.profile-user-name{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 10px;
}

#lui{
  display: flex;
  margin-left: 0.5rem;
 }

#lui{
  background: #262626;
  border-radius: 0.5rem;
  color: #fff;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
 }   

#lui {
  background: linear-gradient(
  180deg,
  rgba(139, 47, 184, 1) 0%,
  rgba(103, 88, 205, 1) 51%,
  rgba(89, 116, 219, 1) 92%
  )
  no-repeat center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}

#vous {
  display: flex;
  margin-left: 0.5rem;
}

#vous{
  background: #262626;
  border-radius: 0.5rem;
  color: #fff;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
 }   

#vous{
  background: linear-gradient(
  180deg,
  rgba(139, 47, 184, 1) 0%,
  rgba(103, 88, 205, 1) 51%,
  rgba(89, 116, 219, 1) 92%
  )
  no-repeat center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}

.profile-image-left{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
  margin: left;
  position: relative;
  z-index: 1;
}

.profile-image-right{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
  margin: left;
  position: relative;
  z-index: 1;
  translate: 20rem 0rem;
}

.profile-image{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
  margin: left;
  position: relative;
  z-index: 1;
  translate: 0rem 0rem;
  margin-left: auto;
  margin-right: auto;
}